In [14]:
import pandas as pd
# !sudo apt-get install libsasl2-dev
# !pip install sasl thrift thrift-sasl PyHive
from pyhive import hive

In [61]:
# hive.metastore.uris=thrift://localhost:9083
# hive.server2.thrift.port=10000

# Connect to the Hive server
conn = hive.connect(host='localhost', port=10000, database="default", username="keval_78")
cursor = conn.cursor()
df = pd.read_sql("Show tables", conn)

/var/folders/yz/t4bgs4gs2qz7b5ybdy77bxtw0000gn/T/ipykernel_5301/3159693474.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("Show tables", conn)

In [62]:
df

     tab_name
0       dsacc
1  dsacc_temp

In [64]:
df = pd.read_sql("select count(*) from dsacc", conn)

/var/folders/yz/t4bgs4gs2qz7b5ybdy77bxtw0000gn/T/ipykernel_5301/2710328332.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select count(*) from dsacc", conn)

In [65]:
df

      _c0
0  284808